In [5]:
name = "Dedi"
age = 20
address,province = "jl. Cibolang","7413412"
scorePython = 80.5
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Nilai pemrograman :",scorePython)
print("Status Menikah :",isMarried)

Nama : Dedi
Umur : 20
Alamat : jl. Cibolang
Nilai pemrograman : 80.5
Status Menikah : False

In [7]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [39]:
#Casting atau konversi Tipe Data
#Konversi dari String ke (int, float, bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt, strToFloat, strToBool, sep="-")

#Konversi dari Int ke (String, Float, bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr, intToFloat, intToBool, sep="-")


#Konversi dari Float ke (str, int, bool)
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr, floatToInt, floatToBool, sep="-")

#Kpnversi dari bool ke (str, int, float)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt, boolToFloat, boolToStr, sep="-")

7413412-7413412.0-True
20-20.0-True
80.5-80-True
0-0.0-False

In [47]:
city = "Bandung"
lenCity = len(city)
print(city[0])
print(city [lenCity-1])

B
g

In [57]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal :", desimal)
print("Nilai Hexa 0xff :", hexa)
print("Nilai Biner 0b1010 :", biner)
print("Nilai octal 0o377 :", octal)
print("=====")
print("Nilai Biner dari :", desimal, bin(desimal))
print("Nilai Octal dari :", desimal, oct(desimal))
print("Nilai Hexa dari :", desimal, hex(desimal))

Nilai Desimal : 200
Nilai Hexa 0xff : 255
Nilai Biner 0b1010 : 10
Nilai octal 0o377 : 255
=====
Nilai Biner dari : 200 0b11001000
Nilai Octal dari : 200 0o310
Nilai Hexa dari : 200 0xc8

In [78]:
cities = ["Sukabumi","Bandung","Bogor","Jakarta"] 
print(cities) 
print(cities [0]) 
print(cities [len(cities)-1]) 
cities[1] = "Medan" 
print(cities) 
print(cities [len(cities)-1][0])

['Sukabumi', 'Bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Medan', 'Bogor', 'Jakarta']
J

In [81]:
#Tuple (tidak bisa mengganti elemen yang ada didalamnya)
names = ("Andi","Budi","Caca")
print(names)

#contoh
#names [0] = "Rudi" akan meyenbabkan error, karena tuple adalah immutable

('Andi', 'Budi', 'Caca')

In [101]:
#Dictionery
studentData = {
    "name" : "Dedi",
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "west java"  
    },  
    "age" : 23,
    "isMarried" : True
}
print(studentData)
print(studentData["address"]["province"]) #west java

{'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'west java'}, 'age': 23, 'isMarried': True}
west java

In [107]:
#list of dictionary
listStudent = [
    {
        "name" : "Dedi",
        "address" : {
            "street" : "Cisaat",
            "number" : 21,
            "province" : "west java"  
    }, 
    "hobbies" : ["Basket","Football"],
    "age" : 23,
    "isMarried" : True
    },
    {
        "name" : "Budi",
        "address" : {
            "street" : "Bogor",
            "number" : 25,
            "province" : "west java"  
    },  
    "age" : 25,
    "isMarried" : False
    }
]

print(listStudent[1]) #semua data dati Budi. jika [0]-semua data dati Dedi
print(listStudent[0]["hobbies"][1]) #Fotball-hobi Dedi urutan ke 2
print(listStudent[0]["age"]) #23-umur Dedi

{'name': 'Budi', 'address': {'street': 'Bogor', 'number': 25, 'province': 'west java'}, 'age': 25, 'isMarried': False}
Football

In [126]:
list_tupple = [("name","Dika"),("nilai",80)]
dictStudent = dict(list_tupple)
print(dictStudent)

list_list = [["Buah","Apel"],["harga", 10000]]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = (("name","shell"),("age",17))
dictNama = dict(tuple_tuple)
print(dictNama)

tuple_list = (["Buah","Mangga"],["age",5000])
dictAc = dict(tuple_list)
print(dictAc)

keys = ["name","age","address"]
values = ["Adi",20,"Bandung"]

dictData = dict(zip(keys,values))
print (dictData)

{'name': 'Dika', 'nilai': 80}
{'Buah': 'Apel', 'harga': 10000}
{'name': 'shell', 'age': 17}
{'Buah': 'Mangga', 'age': 5000}
{'name': 'Adi', 'age': 20, 'address': 'Bandung'}